version: "3.9"

services:
  db:
    image: postgres:15
    container_name: wallet-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: wallet_service
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: wallet-service
    depends_on:
      - db
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/wallet_service
    command: >
      sh -c "
      npx prisma migrate deploy &&
      npm run seed &&
      npm run dev
      "
    volumes:
      - .:/app
    restart: unless-stopped

volumes:
  pgdata: